<nav class="navbar navbar-default navbar-fixed-top">
    <div id="top">
        <div id="top-middle">
            <div id="top-left">
                <a href="{:url('Index/index')}"><div id="top-logo">landl博客</div></a>
            </div>
            <div id="top-right">
                <div id="menu">
                    <li><a href="{:url('Index/index')}">首页</a></li>
                    <li><a href="{:url('Allarticle/index')}">博文</a></li>
                    <li><a href="{:url('Download/index')}">下载</a></li>
                </div>
            </div>
        </div>
    </div>
</nav>